@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900');
*
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}
body{
	
	
	width: 100vw;
 
}
.color{
	background: #ffcfcf;
}
.mainwrapper {
	display: grid;
	grid-template-columns: 20% 60% 20%;
	
	height: 100vh;
	
	overflow: hidden;
	
}
@media (max-width: 768px) {
	.mainwrapper {
		height: 130vh;
	}
	.mainbanner {
		font-size: 4em;
	}
}
.col1{
	margin-top: 2vh;
	margin-left: 2vw;
}
/* start main nav */
.topleft{
	position: relative;
	max-width: 100vw;
	z-index: 1000;
}

.topleft > li
{
	list-style: none;
	opacity: 0;
	animation: fadeIn 0.9s 1;
	animation-fill-mode: forwards;
	z-index: 100;
}
.topleft > li:nth-child(n+1) {
	animation-delay: 0.5s;
  }
  .topleft > li:nth-child(n+2) {
	animation-delay: 0.9s;
  }
  .topleft > li:nth-child(n+3) {
	animation-delay: 1.3s;
  }
  .topleft > li:nth-child(n+4) {
	animation-delay: 1.7s;
  }
  .topleft > li:nth-child(n+5) {
	animation-delay: 2.1s;
  }
  .topleft li span
{
	position: relative;
	display: block;
	color: transparent;
	-webkit-text-stroke: 1px #fff;
	font-size: 3em;
	font-weight: 900;
	text-decoration: none;
	line-height: 1.2em;
	transition: 0.5s;
	
}


.topleft li span:hover
{
	color: rgba(0,0,0,0.2);
	-webkit-text-stroke: 1px rgba(0,0,0,0.2);
	transition: 0.5s;
}
.topleft li span:before,
.topleft li span:after 
{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.topleft li span:hover:before 
{
	color: #cacaca;
	z-index: 1;
	-webkit-text-stroke: 1px rgba(0,0,0,0.2);
	transform: translate(2.5px,-2.5px);
}
.topleft li span:hover:after 
{
	color: #fff;
	z-index: 2;
	-webkit-text-stroke: 1px #cacaca;
	transform: translate(5px,-5px);
}
div.screen {
	margin: 0 auto;
	width: 23.5em;
	height: 35.25em;
	overflow: hidden;
	position: relative;
	
	
	
  }
  div.screen nav.lil-nav {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	height: 100%;
	width: 100%;
	padding: 2em;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }
  div.screen nav.lil-nav.toggled {
	display: block;
	z-index: 10;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }
  div.screen nav.lil-nav ul {
	padding: 2em 0 0 0;
	list-style: none;
	
  }
  
  div.screen nav.lil-nav ul li span {
	font-size: 1.25em;
	color: #fff;
	padding: 1em 0;
	font-weight: 300;
	display: block;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	text-decoration: none;
  }
 
  div.screen nav.lil-nav ul li span:hover {
	-webkit-opacity: 0.7;
	-moz-opacity: 0.7;
	opacity: 0.7;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	padding: 1em;
  }
  div.screen header {
	position: absolute;
	top: 0;
	z-index: 15;
  }
  div.screen header a.target-burger {
	margin: 1.125em;
	width: 3.25em;
	height: 3.25em;
	position: absolute;
	display: block;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }
  div.screen header a.target-burger:hover {
	cursor: pointer;
	-webkit-opacity: 0.7;
	-moz-opacity: 0.7;
	opacity: 0.7;
  }
  div.screen header a.target-burger.toggled ul.buns li.bun {
	-webkit-transform: rotate(45deg) translateZ(0);
	transform: rotate(45deg) translateZ(0);
  }
  div.screen header a.target-burger.toggled ul.buns li.bun:last-child {
	-webkit-transform: rotate(-45deg) translateZ(0);
	transform: rotate(-45deg) translateZ(0);
  }
  div.screen header a.target-burger ul.buns {
	width: 1.625em;
	height: 1.625em;
	list-style: none;
	margin: -0.8125em 0 0 -0.8125em;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
	transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	color: #fff;
  }
  div.screen header a.target-burger ul.buns li.bun {
	width: 100%;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	margin-top: -0.75px;
	-webkit-transform: translateY(-3.75px) translateZ(0);
	transform: translateY(-3.75px) translateZ(0);
	-webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
	transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
  }
  div.screen header a.target-burger ul.buns li.bun:last-child {
	-webkit-transform: translateY(3.75px) translateZ(0);
	transform: translateY(3.75px) translateZ(0);
  }

  /* =============================================================================
	 Mixins & Functions
	 ========================================================================== */
  .inline-block {
	display: inline-block;
	*display: inline;
	*zoom: 1;
  }
  .col2con {
	  display: flex;
	  justify-content: center;
	  flex-direction: column;
  }
.mainbanner
{	
	margin-top: 5vh;
	font-family: 'Source Code Pro', monospace;
	
	color: #fff;
	font-size: 8em;
	margin-bottom: 10vh;
	text-align: center;
	
	outline: none;
	
	user-select: none;
	transform: rotate(-2deg) skewX(10deg);
	text-shadow: -1px 1px #cacaca,
				-2px 2px #cacaca,
				-3px 3px #cacaca,
				-4px 4px #cacaca,
				-5px 5px #cacaca,
				-6px 6px #cacaca,
				-7px 7px #cacaca,
				-8px 8px #cacaca,
				-9px 9px #cacaca,
				-10px 10px #cacaca,
				-11px 11px #cacaca,
				-12px 12px #cacaca,
				-20px 20px rgba(0,0,0,0.2);
	transition: 2.5s;
}


.mainbanner:hover{
	transform: rotate(-1.8deg) skewX(6deg) translate(3px,-3px);
	
}

.svg-wrapper {
	position: relative;
	top: 10%;
	justify-content: center;
	transform: translateY(-50%);
	margin: 0 auto;
	width: 320px;  
  }
  .shape {
	stroke-dasharray: 140 540;
	stroke-dashoffset: -474;
	stroke-width: 8px;
	fill: transparent;
	stroke: #fff;
	border-bottom: 5px solid black;
	transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  }
  .quotes {
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	line-height: 32px;
	letter-spacing: 8px;
	color: #fff;
	top: -48px;
	margin-left: 20px;
	position: relative;
  }
  .quotes > span 
{
	user-select: none;
	text-decoration: none;
	color: white;
}
  .svg-wrapper:hover .shape {
	stroke-width: 2px;
	stroke-dashoffset: 0;
	stroke-dasharray: 760;
  }
  @keyframes fadeIn {
	0% {
	  opacity: 0.0;
	}
	100% {
	  opacity: 1.0;
	}
  }

.container
{
    width: 80%;
    padding: 20px;
	
}

.container .row100
{
    
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
	
}
.container .row100 .col
{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
    transition: 0.5s;
}
.container .row100 .inputBox
{
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
}
.container .row100 .inputBox input,
.container .row100 .inputBox textarea
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #b0a2a2;
}
.container .row100 .inputBox .text
{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.container .row100 .inputBox input:focus + .text,
.container .row100 .inputBox input:valid + .text
{
    top: -35px;
    left: -10px;
}
.container .row100 .inputBox .line
{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}
.container .row100 .inputBox input:focus ~ .line,
.container .row100 .inputBox input:valid ~ .line
{
    height: 100%;
}

.container .row100 .inputBox.textarea
{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}
.container .row100 .inputBox textarea
{
    height: 100%;
    resize: none;
}
.container .row100 .inputBox textarea:focus ~ .line,
.container .row100 .inputBox textarea:valid ~ .line
{
    height: 100%;
}
.container .row100 .inputBox textarea:focus + .text,
.container .row100 .inputBox textarea:valid + .text
{
    top: -35px;
    left: -10px;
}
input[type="submit"]
{
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background: #fff;
    color: #cacaca;
    font-size: 18px;
    border-radius: 2px;
}
@media (max-width: 1350px){
	.mainbanner{
		margin-top: .4em;
	}
	.container{
		margin-top: -2em;
	}
}
@media (max-width: 1100px) {
	.quotes{
		display: none;
	}
	.svg-wrapper{
		display: none;
	}
	.shape{
		display: none;
	}
	body{
		max-height: 100vh;
	}
	.mainbanner{
		
	margin-top: .2em;
	
	}
	.topleft li span{
		display: none;
	}
	.container{
		margin-top: -5em;
	}
}
@media (min-width: 1101px){
	div.screen{
		display: none;
	}
}
@media (max-width: 840px){
	.mainbanner{ 
		font-size: 6em;
		margin-left: 0rem;
		text-shadow: -1px 1px #cacaca,
				-2px 2px #cacaca,
				-3px 3px #cacaca,
				-4px 4px #cacaca,
				-5px 5px #cacaca,
				-6px 6px #cacaca,
				-7px 7px #cacaca,
				-8px 8px #cacaca,
				
				-10px 10px rgba(0,0,0,0.2);
}
.container{
	margin-top: -3em;
}

}

@media (max-width: 550px){
	.mainbanner{ 
		margin-top: 6rem;
		font-size: 4em;
		
}
	
.container
{
    width: 80%;
    padding: 20px;
	
}

.container .row100
{
    
    width: 100%;
    display: grid;
    grid-template-columns: 200px;
	margin-left: -40px;
	
}
.container .row100 .col
{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
    transition: 0.5s;
}
}
