/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
/*basic reset*/
* {margin: 0; padding: 0;}



body {
	font-family: montserrat, arial, verdana;
	
	background: 
		linear-gradient(#8feeb5 70%, white 100%);
}
.mainwrapper{
    display: grid;
	grid-template-columns: 10% 90%;
	
	height: 100vh;
	
	overflow: hidden;
}
.col1{
	margin-top: 2vh;
	margin-left: 2vw;
}
.topleft{
	position: relative;
	max-width: 100vw;
	z-index: 1000;
    font-family: 'Poppins', sans-serif;
}

.topleft > li
{
	list-style: none;
	opacity: 0;
	animation: fadeIn 0.9s 1;
	animation-fill-mode: forwards;
	z-index: 100;
}
.topleft > li:nth-child(n+1) {
	animation-delay: 0.5s;
  }
  .topleft > li:nth-child(n+2) {
	animation-delay: 0.9s;
  }
  .topleft > li:nth-child(n+3) {
	animation-delay: 1.3s;
  }
  .topleft > li:nth-child(n+4) {
	animation-delay: 1.7s;
  }
  .topleft > li:nth-child(n+5) {
	animation-delay: 2.1s;
  }
  .topleft li span
{
	position: relative;
	display: block;
	color: transparent;
	-webkit-text-stroke: 1px #fff;
	font-size: 3em;
	font-weight: 900;
	text-decoration: none;
	line-height: 1.2em;
	transition: 0.5s;
	
}


.topleft li span:hover
{
	color: rgba(0,0,0,0.2);
	-webkit-text-stroke: 1px rgba(0,0,0,0.2);
	transition: 0.5s;
}
.topleft li span:before,
.topleft li span:after 
{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.topleft li span:hover:before 
{
	color: #cacaca;
	z-index: 1;
	-webkit-text-stroke: 1px rgba(0,0,0,0.2);
	transform: translate(2.5px,-2.5px);
}
.topleft li span:hover:after 
{
	color: #fff;
	z-index: 2;
	-webkit-text-stroke: 1px #cacaca;
	transform: translate(5px,-5px);
}
div.screen {
	margin: 0 auto;
	width: 23.5em;
	height: 35.25em;
	overflow: hidden;
	position: relative;
	
	
	
  }
  div.screen nav.lil-nav {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	height: 100%;
	width: 100%;
	padding: 2em;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }
  div.screen nav.lil-nav.toggled {
	display: block;
	z-index: 10;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }
  div.screen nav.lil-nav ul {
	padding: 2em 0 0 0;
	list-style: none;
	
  }
  
  div.screen nav.lil-nav ul li span {
	font-size: 1.25em;
	color: #fff;
	padding: 1em 0;
	font-weight: 300;
	display: block;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	text-decoration: none;
  }
 
  div.screen nav.lil-nav ul li span:hover {
	-webkit-opacity: 0.7;
	-moz-opacity: 0.7;
	opacity: 0.7;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	padding: 1em;
  }
  div.screen header {
	position: absolute;
	top: 0;
	z-index: 15;
  }
  div.screen header a.target-burger {
	margin: 1.125em;
	width: 3.25em;
	height: 3.25em;
	position: absolute;
	display: block;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }
  div.screen header a.target-burger:hover {
	cursor: pointer;
	-webkit-opacity: 0.7;
	-moz-opacity: 0.7;
	opacity: 0.7;
  }
  div.screen header a.target-burger.toggled ul.buns li.bun {
	-webkit-transform: rotate(45deg) translateZ(0);
	transform: rotate(45deg) translateZ(0);
  }
  div.screen header a.target-burger.toggled ul.buns li.bun:last-child {
	-webkit-transform: rotate(-45deg) translateZ(0);
	transform: rotate(-45deg) translateZ(0);
  }
  div.screen header a.target-burger ul.buns {
	width: 1.625em;
	height: 1.625em;
	list-style: none;
	margin: -0.8125em 0 0 -0.8125em;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
	transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	color: #fff;
  }
  div.screen header a.target-burger ul.buns li.bun {
	width: 100%;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	margin-top: -0.75px;
	-webkit-transform: translateY(-3.75px) translateZ(0);
	transform: translateY(-3.75px) translateZ(0);
	-webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
	transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
  }
  div.screen header a.target-burger ul.buns li.bun:last-child {
	-webkit-transform: translateY(3.75px) translateZ(0);
	transform: translateY(3.75px) translateZ(0);
  }

  /* =============================================================================
	 Mixins & Functions
	 ========================================================================== */
  .inline-block {
	display: inline-block;
	*display: inline;
	*zoom: 1;
  }
/*form styles*/
#msform {
	width: 1000px;
	margin-top: 150px;
    
	text-align: center;
    margin-left: 200px;
	position: relative;
	
}
@media (max-width: 1300px ) {
	#msform {
		margin-left: 0px;
}
}
@media (max-width: 1080px ) {
	.mainwrapper{
		display: grid;
		grid-template-columns: 5% 95%;
		
		height: 100vh;
		
		overflow: hidden;
	}
	#msform {
		
		width: 95%;
}
}

@media (max-width: 880px ) {
	

}






#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: -1px 1px #cacaca,
	-2px 2px #cacaca,
	-3px 3px #cacaca,
	-4px 4px #cacaca,
	-5px 5px #cacaca,
	-6px 6px #cacaca,
	-7px 7px #cacaca,
	-8px 8px #cacaca,
	-9px 9px #cacaca,
	-10px 10px #cacaca,
	-11px 11px #cacaca,
	-12px 12px #cacaca,
	-20px 20px rgba(0,0,0,0.2);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 18px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #b0ffd0;
	font-weight: bold;
	color: black;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #b0ffd0;
}
/*headings*/
.fs-title {
	font-size: 22px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 20px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: black;
	text-transform: uppercase;
	font-size: 15px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 30px;
	line-height: 30px;
	display: block;
	font-size: 15px;
	color: white;
	background: black;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 15px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: black;
	color: white;
}
@keyframes fadeIn {
	0% {
	  opacity: 0.0;
	}
	100% {
	  opacity: 1.0;
	}
  }
  @media (min-width: 1101px){
	div.screen{
		display: none;
	}
}
@media (max-width: 1100px) {
	.topleft li span{
		display: none;
	}
}

  /* @media (max-width: 768px) {
	#msform {
		width: 45rem;
		margin-top: 20em;
		margin-left: -25rem;
		text-align: center;
		
		position: relative;
		
	}
	html {
		height: 125vh;
	}
	.mainwrapper {
		height: 125vh;
	}
  } */