@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900');
*
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}
body {
	
    
}
/* main warpper for header */
.mainwrapper {
	display: grid;
	grid-template-columns: 20% 60% 20%;
	background: #b3b5f2;
	height: 100vh;
	overflow: hidden;
	
}
/* start main nav */
.col1{
	margin-top: 2vh;
	margin-left: 2vw;
}

.topleft{
	position: relative;
	max-width: 100vw;
	z-index: 1000;
}

.topleft > li
{
	list-style: none;
	opacity: 0;
	animation: fadeIn 0.9s 1;
	animation-fill-mode: forwards;
	z-index: 100;
}
.topleft > li:nth-child(n+1) {
	animation-delay: 0.5s;
  }
  .topleft > li:nth-child(n+2) {
	animation-delay: 0.9s;
  }
  .topleft > li:nth-child(n+3) {
	animation-delay: 1.3s;
  }
  .topleft > li:nth-child(n+4) {
	animation-delay: 1.7s;
  }
  .topleft > li:nth-child(n+5) {
	animation-delay: 2.1s;
  }
  .topleft li span
{
	position: relative;
	display: block;
	color: transparent;
	-webkit-text-stroke: 1px #fff;
	font-size: 3em;
	font-weight: 900;
	text-decoration: none;
	line-height: 1.2em;
	transition: 0.5s;
	
}


.topleft li span:hover
{
	color: rgba(0,0,0,0.2);
	-webkit-text-stroke: 1px rgba(0,0,0,0.2);
	transition: 0.5s;
}
.topleft li span:before,
.topleft li span:after 
{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.topleft li span:hover:before 
{
	color: #cacaca;
	z-index: 1;
	-webkit-text-stroke: 1px rgba(0,0,0,0.2);
	transform: translate(2.5px,-2.5px);
}
.topleft li span:hover:after 
{
	color: #fff;
	z-index: 2;
	-webkit-text-stroke: 1px #cacaca;
	transform: translate(5px,-5px);
}
div.screen {
	margin: 0 auto;
	width: 23.5em;
	height: 35.25em;
	overflow: hidden;
	position: relative;
	
	
	
  }
  div.screen nav.lil-nav {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	height: 100%;
	width: 100%;
	padding: 2em;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }
  div.screen nav.lil-nav.toggled {
	display: block;
	z-index: 10;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }
  div.screen nav.lil-nav ul {
	padding: 2em 0 0 0;
	list-style: none;
	
  }
  
  div.screen nav.lil-nav ul li span {
	font-size: 1.25em;
	color: #fff;
	padding: 1em 0;
	font-weight: 300;
	display: block;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	text-decoration: none;
  }
 
  div.screen nav.lil-nav ul li span:hover {
	-webkit-opacity: 0.7;
	-moz-opacity: 0.7;
	opacity: 0.7;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	padding: 1em;
  }
  div.screen header {
	position: absolute;
	top: 0;
	z-index: 15;
  }
  div.screen header a.target-burger {
	margin: 1.125em;
	width: 3.25em;
	height: 3.25em;
	position: absolute;
	display: block;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }
  div.screen header a.target-burger:hover {
	cursor: pointer;
	-webkit-opacity: 0.7;
	-moz-opacity: 0.7;
	opacity: 0.7;
  }
  div.screen header a.target-burger.toggled ul.buns li.bun {
	-webkit-transform: rotate(45deg) translateZ(0);
	transform: rotate(45deg) translateZ(0);
  }
  div.screen header a.target-burger.toggled ul.buns li.bun:last-child {
	-webkit-transform: rotate(-45deg) translateZ(0);
	transform: rotate(-45deg) translateZ(0);
  }
  div.screen header a.target-burger ul.buns {
	width: 1.625em;
	height: 1.625em;
	list-style: none;
	margin: -0.8125em 0 0 -0.8125em;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
	transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	color: #fff;
  }
  div.screen header a.target-burger ul.buns li.bun {
	width: 100%;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	margin-top: -0.75px;
	-webkit-transform: translateY(-3.75px) translateZ(0);
	transform: translateY(-3.75px) translateZ(0);
	-webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
	transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
  }
  div.screen header a.target-burger ul.buns li.bun:last-child {
	-webkit-transform: translateY(3.75px) translateZ(0);
	transform: translateY(3.75px) translateZ(0);
  }

  /* =============================================================================
	 Mixins & Functions
	 ========================================================================== */
  .inline-block {
	display: inline-block;
	*display: inline;
	*zoom: 1;
  }
.mainbanner
{	
	margin-top: 25vh;
	font-family: 'Source Code Pro', monospace;
	
	color: #fff;
	font-size: 10em;
	
	
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	
	user-select: none;
	transform: rotate(-2deg) skewX(10deg);
	text-shadow: -1px 1px #cacaca,
				-2px 2px #cacaca,
				-3px 3px #cacaca,
				-4px 4px #cacaca,
				-5px 5px #cacaca,
				-6px 6px #cacaca,
				-7px 7px #cacaca,
				-8px 8px #cacaca,
				-9px 9px #cacaca,
				-10px 10px #cacaca,
				-11px 11px #cacaca,
				-12px 12px #cacaca,
				-20px 20px rgba(0,0,0,0.2);
	transition: 2.5s;
}
.mainbanner:hover{
	transform: rotate(-1.8deg) skewX(6deg) translate(3px,-3px);
	
}
.center-con {
	display: flex;
	
    margin-top: 45vh;
    align-items: center;
	justify-content: center;
	transform: rotate(90deg);
}



.round {
    position: absolute;
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    
}

#cta{
    width:100%; cursor: pointer; position: absolute;
}
/* arrow */
#cta .arrow{left: 30%;}
.arrow {position: absolute; bottom: 0;  margin-left:0px; width: 12px; height: 12px; background-size: contain; top:12px;}
.segunda{margin-left: 8px;}
.next {
	background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateX(0px) scale(1);}
  25%{opacity: 0; transform:translateX(10px) scale(0.9);}
  26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.round:hover .arrow{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.round:hover .arrow.primera{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.svg-wrapper {
	position: relative;
	top: 10%;
	justify-content: center;
	transform: translateY(-50%);
	margin: 0 auto;
	width: 320px;  
  }
  .shape {
	stroke-dasharray: 140 540;
	stroke-dashoffset: -474;
	stroke-width: 8px;
	fill: transparent;
	stroke: #fff;
	border-bottom: 5px solid black;
	transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  }
  .quotes {
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	line-height: 32px;
	letter-spacing: 8px;
	color: #fff;
	top: -48px;
	margin-left: 20px;
	position: relative;
  }
  .quotes > span 
{
	user-select: none;
	text-decoration: none;
	color: white;
}
  .svg-wrapper:hover .shape {
	stroke-width: 2px;
	stroke-dashoffset: 0;
	stroke-dasharray: 760;
  }
  @keyframes fadeIn {
	0% {
	  opacity: 0.0;
	}
	100% {
	  opacity: 1.0;
	}
  }
  @media (max-width: 1300px) {
    .mainwrapper {
      grid-template-columns: 20% 80%;
    }
    .col3 {
      display: none;
    }
  }
  @media (max-width: 768px) {
	  .mainbanner {
		  font-size: 8em;
		  margin-top: 15rem;
      margin-right: 2rem;
	  }
  }












/* snap scrolling css */
.containersnap
{
	height: 100vh;
	width: 100vw;
	background: #b3b5f2;
	overflow-x: hidden;
	
	
}
.sectionsnap
{
	background: #b3b5f2;

}

.contentsnap
{
	background: #b3b5f2;
	bottom: 50px;
	left: 50px;
	height: 100vh;
	width: 100%;
	display: flex; 
	flex-direction: column;
	justify-content:center;
	align-items:center;
	
}

@media (max-width: 1000px) {
  .sectionsnap:nth-child(2)
{
	background-color: #b3b5f2 ;
	background-size: cover;
	height: 150vh;
  margin-bottom: 20rem;
  
}
.sectionsnap:nth-child(3)
{
	background-color: #b3b5f2 ;
	background-size: cover;
  height: 105vh;
  
}
}
@media (max-width: 600px) {
  .sectionsnap:nth-child(2)
{
	
  margin-bottom: 55rem;
  
}
.sectionsnap:nth-child(3)
{
	
  margin-top: 25rem;
}
}




/* first section of projects  */

.containerwork
{
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background: #b3b5f2;
	margin-top: 10rem;
}



body {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100vh;
  }
  
  .animation-wrapper {
	width: 80%;
	padding-bottom: 40%;
  }
  
  /* text typography */

#text
{
  position: relative;
  color: #ffffff;
  font-weight: 700;
  font-size: 6em;
  outline: none;
  width: 100%;
  line-height: 0.9em;
  letter-spacing: 2px;
  text-align: center;
  transform: rotate(-22deg) skew(25deg);
  margin-top: 10rem;
  margin-right: 40rem;
  
  
}
#text:before
{
  content: attr(data-text);
  position: absolute;
  top: 32px;
  left: -30px;
  color: rgba(0,0,0,.2);
  filter: blur(5px);
  outline: none;
  width: 100%;
  text-align: center;
  z-index: -1;
}

#textA
{
  position: relative;
  color: #ffffff;
  font-weight: 700;
  font-size: 6em;
  outline: none;
  width: 100%;
  line-height: 0.9em;
  letter-spacing: 2px;
  margin-right: 8rem;
  margin-top: 8rem;
  text-align: center;
  transform: rotate(-25deg) skew(25deg);
}

#textA:before
{
  content: attr(data-text);
  position: absolute;
  top: 32px;
  left: -30px;
  color: rgba(0,0,0,.2);
  filter: blur(10px);
  outline: none;
  width: 100%;
  text-align: center;
  z-index: -1;
}
#textB
{
  position: relative;
  color: #ffffff;
  font-weight: 700;
  font-size: 6em;
  outline: none;
  width: 100%;
  line-height: 0.9em;
  letter-spacing: 2px;
  margin-right: 8rem;
  margin-top: 8rem;
  text-align: center;
  transform: rotate(-25deg) skew(25deg);
}
#textB:before
{
  content: attr(data-text);
  position: absolute;
  top: 32px;
  left: -30px;
  color: rgba(0,0,0,.2);
  filter: blur(10px);
  outline: none;
  width: 100%;
  text-align: center;
  z-index: -1;
}
#textC
{
  position: relative;
  color: #ffffff;
  font-weight: 700;
  font-size: 6em;
  outline: none;
  width: 100%;
  line-height: 0.9em;
  letter-spacing: 2px;
  margin-left: 8rem;
  margin-top: 3rem;
  text-align: left;
  transform: rotate(0deg) skew(5deg);
}
#textC:before
{
  content: attr(data-text);
  position: absolute;
  top: 32px;
  left: -30px;
  color: rgba(0,0,0,.1);
  filter: blur(10px);
  outline: none;
  
  width: 100%;
  text-align: left;
  z-index: -1;
}
#textD
{
  position: relative;
  color: #ffffff;
  font-weight: 700;
  font-size: 6em;
  outline: none;
  width: 100%;
  line-height: 0.9em;
  letter-spacing: 2px;
  margin-right: 8rem;
  margin-top: 8rem;
  text-align: center;
  transform: rotate(-25deg) skew(25deg);
}
#textD:before
{
  content: attr(data-text);
  position: absolute;
  top: 32px;
  left: -30px;
  color: rgba(0,0,0,.2);
  filter: blur(10px);
  outline: none;
  width: 100%;
  text-align: center;
  z-index: -1;
}

a {
  color: white;
}
a:hover {
  color: white;
  text-decoration: none;
}
#textunder
{
  position: relative;
  color: whitesmoke;
  font-weight: 700;
  font-size: 1em;
  outline: none;
  width: 100%;
  line-height: 0.9em;
  letter-spacing: 2px;
  text-align: left;
  margin-top: 4rem;
  margin-left: 4rem;
  transform: rotate(0deg) skew(10deg);
}


#text2
{
  position: relative;
  color: #ffffff;
  font-weight: 700;
  font-size: 6em;
  outline: none;
  width: 100%;
  line-height: 0.9em;
  letter-spacing: 2px;
  text-align: center;
  transform: rotate(-28deg) skew(25deg);
  margin-top: 10rem;
}
#text2:before
{
  content: attr(data-text);
  position: absolute;
  top: 32px;
  left: -30px;
  color: rgba(0,0,0,.2);
  filter: blur(10px);
  outline: none;
  width: 100%;
  text-align: center;
  z-index: -1;
}
#text4
{
  position: relative;
  color: #ffffff;
  font-weight: 700;
  font-size: 2.5em;
  outline: none;
  width: 100%;
  line-height: 0.9em;
  letter-spacing: 2px;
  margin-left: 1rem;
  text-align: center;
  transform: rotate(-5deg) skew(5deg);
}
#text4:before
{
  content: attr(data-text);
  position: absolute;
  top: 10px;
  left: -15px;
  color: rgba(0,0,0,.1);
  filter: blur(10px);
  outline: none;
  width: 100%;
  text-align: center;
  z-index: -1;
}

/* media for all 3D text  */
@media (max-width:1115px) {
   #text {
     margin-top: 5rem;
     margin-left: 15rem;
   }
   
}
@media (max-width:968px) {
  #text {
    margin-left: 0rem;
    margin-right: 1rem;
    transform: rotate(-5deg) skew(5deg);
  }
  #text1 {
    margin-left: 8rem;
    margin-bottom: 10rem;
    transform: rotate(-10deg) skew(15deg);
  }
  #textunder {
    font-size: .8em;
    margin-left: 1.5rem;
  }
}
  @media (max-width:680px) {
    #text {
      font-size: 4em;
    }
    #text1 {
      font-size: 4em;
    }
    #text2 {
      font-size: 4em;
      margin-left: 3rem;
    }
    #textA {
      font-size: 4em;
      margin-left: 8rem;
    }
    #textB {
      font-size: 4em;
      margin-left: 8rem;
    }
    #textC {
      font-size: 4em;
      margin-left: 4rem;
    }
    #textD {
      font-size: 4em;
      margin-left: 8rem;
    }
}




/* Top container */

.containerpro {
  display: flex;
  justify-content: space-around;
  transform: rotate(-25deg) skew(25deg);
  width: 80%;
  margin-right: 10rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 30%;
  
}
.cardspro
{
    display: flex;
    position: relative;
    width: 18.75rem;
    height: 12.5rem;
    transition: 0.5s;
    transition-delay: 0.5s;
    padding-right: .5rem;
    z-index: 3;
}
.cardspro:hover
{
    
    transition-delay: 0s;
}
.cardspro .layerpro
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #b3b5f2;
    color: whitesmoke;
    transition: 0.5s;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cardspro:hover .layerpro:nth-child(1)
{
    transform: translate(0,0);
    opacity: 0.2;
    transition-delay: 0.5s;
    box-shadow: -15px 15px 20px rgba(0,0,0,0.5);
}
.cardspro:hover .layerpro:nth-child(2)
{
    transform: translate(30px,-30px);
    opacity: 0.5;
    transition-delay: 0.5s;
}
.cardspro:hover .layerpro:nth-child(3)
{
    transform: translate(60px,-60px);
    opacity: 0.8;
    transition-delay: 0.5s;
}
.cardspro:hover .layerpro:nth-child(4)
{
    transform: translate(90px,-90px);
    opacity: 1;
    transition-delay: 0.5s;
}
.cardspro:hover .layerpro
{
    background: white;
}
.cardspro .contentpro
{
    transition: 0.5s;
    transition-delay: 0s;
}
.cardspro .contentpro p 
{
    font-size: 1.1em;
}
.cardspro:hover .contentpro
{
    transform: translate(10px,-10px);
    text-shadow: -2px 2px 0 rgba(0,0,0,.1);
    transition-delay: 1.5s;
    color: #b3b5f2;
}
.containerpro2 {
  display: flex;
  justify-content: flex-end;
 
  width: 50%;
}

.cardspro2
{
    display: flex;
    position: relative;
    width: 300px;
    height: 200px;
    transition: 0.5s;
    transition-delay: 0.5s;
    z-index: 2;
    
}
.cardspro2:hover
{
   
    transition-delay: 0s;
}
.cardspro2 .layerpro2
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #b3b5f2;
    color: whitesmoke;
    transition: 0.5s;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cardspro2:hover .layerpro2:nth-child(1)
{
    transform: translate(0,0);
    opacity: 0.2;
    transition-delay: 0.5s;
    box-shadow: -15px 15px 20px rgba(0,0,0,0.5);
}
.cardspro2:hover .layerpro2:nth-child(2)
{
    transform: translate(30px,-30px);
    opacity: 0.5;
    transition-delay: 0.5s;
}
.cardspro2:hover .layerpro2:nth-child(3)
{
    transform: translate(60px,-60px);
    opacity: 0.8;
    transition-delay: 0.5s;
}
.cardspro2:hover .layerpro2:nth-child(4)
{
    transform: translate(90px,-90px);
    opacity: 1;
    transition-delay: 0.5s;
}
.cardspro2:hover .layerpro2
{
    background: white;
}
.cardspro2 .contentpro2
{
    transition: 0.5s;
    transition-delay: 0s;
}
.cardspro2 .contentpro2 p 
{
    font-size: 1.1em;
}
.cardspro2:hover .contentpro2
{
  transform: translate(10px,-10px);
  text-shadow: -2px 2px 0 rgba(0,0,0,.1);
    transition-delay: 1.5s;
    color: #b3b5f2;
}

.cardsprofin
{
    display: flex;
    position: relative;
    width: 300px;
    height: 200px;
    transition: 0.5s;
    transition-delay: 0.5s;
    z-index: 1;
    
}
.cardsprofin:hover
{
   
    transition-delay: 0s;
}
.cardsprofin .layerprofin
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #b3b5f2;
    color: whitesmoke;
    transition: 0.5s;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cardsprofin:hover .layerprofin:nth-child(1)
{
    transform: translate(0,0);
    opacity: 0.2;
    transition-delay: 0.5s;
    box-shadow: -15px 15px 20px rgba(0,0,0,0.5);
}
.cardsprofin:hover .layerprofin:nth-child(2)
{
    transform: translate(30px,-30px);
    opacity: 0.5;
    transition-delay: 0.5s;
}
.cardsprofin:hover .layerprofin:nth-child(3)
{
    transform: translate(60px,-60px);
    opacity: 0.8;
    transition-delay: 0.5s;
}
.cardsprofin:hover .layerprofin:nth-child(4)
{
    transform: translate(90px,-90px);
    opacity: 1;
    transition-delay: 0.5s;
}
.cardsprofin:hover .layerprofin
{
    background: white;
}
.cardsprofin .contentprofin
{
    transition: 0.5s;
    transition-delay: 0s;
}
.cardsprofin .contentprofin p 
{
    font-size: 1.1em;
}
.cardsprofin:hover .contentprofin
{
  transform: translate(10px,-10px);
  text-shadow: -2px 2px 0 rgba(0,0,0,.1);
    transition-delay: 1.5s;
    color: #b3b5f2;
}







/* Bottom card of 1st page */

.containerpro3 {
  display: flex;
  justify-content: space-around;
  
  transform: rotate(-25deg) skew(25deg);
  width: 100%;
  height: 30%;
}
.cardspro3
{
    display: flex;
    position: relative;
    width: 500px;
    margin-left: 35rem;
    
    height: 300px;
    transition: 0.5s;
    transition-delay: 0.5s;
    
    
}
.cardspro3
{
   
    transition-delay: 0s;
}
.cardspro3 .layerpro3
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background: #b3b5f2;
    color: #b3b5f2;
    transition: 0.5s;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.cardspro3 .layerpro3:nth-child(1)
{
    transform: translate(0,0);
    opacity: 0.2;
    transition-delay: 0.5s;
    box-shadow: -15px 15px 20px rgba(0,0,0,0.5);
}
.cardspro3 .layerpro3:nth-child(2)
{
    transform: translate(30px,-30px);
    opacity: 0.5;
    transition-delay: 0.5s;
}
.cardspro3 .layerpro3:nth-child(3)
{
    transform: translate(60px,-60px);
    opacity: 0.8;
    transition-delay: 0.5s;
}
.cardspro3 .layerpro3:nth-child(4)
{
    transform: translate(90px,-90px);
    opacity: 1;
    transition-delay: 0.5s;
}
.cardspro3 .layerpro3
{
    background: white;
}
.cardspro3:hover .contentpro3
{
    color: #a0a3f1;
    transition: 0.5s;
    
    transition-delay: 0s;
}
.cardspro3 .contentpro3
{
display: flex;
flex-direction: column;
justify-content: space-around;
}
.cardspro3 .contentpro3 h2
{
    opacity: .5;
    margin-bottom: 2.5rem;
}
.cardspro3 .contentpro3 p
{
    
    margin-bottom: 1rem;
}


/* media for all containers / cards */
@media (max-width:968px) {
  .containerpro3 {
    margin-right: 10rem;
    transform: rotate(-10deg) skew(15deg);
  }
  .cardspro3
{
    display: flex;
    position: relative;
    width: 27.5rem;
    margin-left: 15rem;
    line-height: 4px;
    height: 15.75;
    transition: 0.5s;
    transition-delay: 0.5s;
    display: none;
    
}
  .containerpro {
    margin-right: 1rem;
    transform: rotate(0deg) skew(0deg);
    flex-wrap: wrap;
  }
  .cardsprofin {
    z-index: 5;
  }
  
}
@media (max-width: 700px) {
  .cardspro {
    z-index: 0;
  }
  .cardspro:hover {
    transform: none;
  }
  .cardspro:hover .layerpro:nth-child(1)
{
    transform: none; 
  }
.cardspro:hover .layerpro:nth-child(2)
{
    transform: none;
}
.cardspro:hover .layerpro:nth-child(3)
{
    transform: none;
}
.cardspro:hover .layerpro:nth-child(4)
{
    transform: none;
}
.cardspro:hover .layerpro
{
    background: #b3b5f2;
}
.cardspro:hover .contentpro
{
  transform: none;
  text-shadow: none;
    
    color: white;
}
  .cardspro2 {
    z-index: 1;
  }
  .cardspro2:hover {
    transform: none;
  }
  .cardspro2:hover .layerpro2:nth-child(1)
{
    transform: none; 
  }
.cardspro2:hover .layerpro2:nth-child(2)
{
    transform: none;
}
.cardspro2:hover .layerpro2:nth-child(3)
{
    transform: none;
}
.cardspro2:hover .layerpro2:nth-child(4)
{
    transform: none;
}
.cardspro2:hover .layerpro2
{
    background: #b3b5f2;
}
.cardspro2:hover .contentpro2
{
  transform: none;
  text-shadow: none;
    
    color: white;
}
  .cardsprofin {
    z-index: 2;
  }
  .cardsprofin:hover {
    transform: none;
  }
  .cardsprofin:hover .layerprofin:nth-child(1)
{
    transform: none; 
  }
.cardsprofin:hover .layerprofin:nth-child(2)
{
    transform: none;
}
.cardsprofin:hover .layerprofin:nth-child(3)
{
    transform: none;
}
.cardsprofin:hover .layerprofin:nth-child(4)
{
    transform: none;
}
.cardsprofin:hover .layerprofin
{
    background: #b3b5f2;
}
.cardsprofin:hover .contentprofin
{
  transform: none;
  text-shadow: none;
    
    color: white;
}
}



/* Phone UI */
/* .containerwork {
  display: flex;
  margin-bottom: 10rem;
}


.box
{
	display: flex;
	margin-left: 6rem;
	position: relative;
	width: 250px;
	height: 450px;
	background: #fff;
	border-radius: 30px;
	transition: 0.5s;
	transform: rotate(-25deg) skew(25deg) ;
	box-shadow: -15px 15px 20px rgba(0,0,0,.2),
				inset 10px -10px 15px rgba(0,0,0,.1),
				inset -4px 4px 10px rgba(0,0,0,.04);
}
.box:hover
{
	transform: rotate(-25deg) skew(25deg) translate(50px,-50px);
	box-shadow: -60px 60px 10px rgba(0,0,0,.2),
				inset 10px -10px 15px rgba(0,0,0,.1),
				inset -4px 4px 10px rgba(0,0,0,.04);
}
.box:before
{
	content: '';
	position: absolute;
	top: 40px;
	bottom: 70px;
	left: 27px;
	right: 15px;
	border-radius: 4px;
	background: url(../Images/img.jpg);
	background-size: cover;
	transition: 0.5s;
	z-index: 1;
	box-shadow: 0px 0px 0px #333;
}
.box:hover:before
{
	transform: translate(50px,-50px);
	box-shadow: -50px 50px 0px #333;
}
.box:after
{
	content: '';
	position: absolute;
	bottom: 25px;
	left: 50%;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	box-shadow: inset 0 0 5px rgba(0,0,0,.2);
	transform: translateX(-50%);
	cursor: pointer;
}
#phone
{
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: 35px;
	height: 4px;
	border-radius: 4px;
	background: #000;
	display: block;
	
}
#phone:before
{
	content: '';
	position: absolute;
	top: -1px;
	left: -20px;
	width: 6px;
	height: 6px;
	border-radius: 4px;
	background: #000;
}



.box2
{
	display: flex;
	position: relative;
	width: 550px;
	height: 450px;
	background: #fff;
	border-radius: 30px;
	transition: 0.5s;
	transform: rotate(-25deg) skew(25deg);
	box-shadow: -15px 15px 20px rgba(0,0,0,.2),
				inset 10px -10px 15px rgba(0,0,0,.1),
				inset -4px 4px 10px rgba(0,0,0,.04);
}
.box2:hover
{
	transform: rotate(-25deg) skew(25deg) translate(50px,-50px);
	box-shadow: -60px 60px 10px rgba(0,0,0,.2),
				inset 10px -10px 15px rgba(0,0,0,.1),
				inset -4px 4px 10px rgba(0,0,0,.04);
}
.box2:before
{
	content: '';
	position: absolute;
	top: 40px;
	bottom: 70px;
	left: 27px;
	right: 15px;
	border-radius: 4px;
	background: url(../Images/img.jpg);
	background-size: cover;
	transition: 0.5s;
	z-index: 1;
	box-shadow: 0px 0px 0px #333;
}
.box2:hover:before
{
	transform: translate(50px,-50px);
	box-shadow: -50px 50px 0px #333;
}
.box2:after
{
	content: 'Mac';
	position: absolute;
	bottom: 25px;
	left: 50%;
	width: 35px;
	height: 35px;
	transform: translateX(-50%);
	cursor: pointer;
}
#phone2
{
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: 35px;
	height: 4px;
	border-radius: 4px;
	background: #000;
	display: block;
}
#phone2:before
{
	content: '';
	position: absolute;
	top: -1px;
	left: -20px;
	width: 6px;
	height: 6px;
	border-radius: 4px;
	background: #000;
}

@media (max-width: 968px) {
  .box
{
	display: flex;
	margin-bottom: 10rem;
	position: relative;
	width: 200px;
	height: 350px;
	background: #fff;
	border-radius: 30px;
	transition: 0.5s;
	transform: rotate(-5deg) skew(5deg);
	box-shadow: -15px 15px 20px rgba(0,0,0,.2),
				inset 10px -10px 15px rgba(0,0,0,.1),
				inset -4px 4px 10px rgba(0,0,0,.04);
}
.box2 {
  display: flex;
	transform: rotate(-5deg) skew(5deg);
	position: relative;
	width: 450px;
	height: 350px;
	background: #fff;
	
}
}


@media (max-width: 768px) {
  .box
{
	margin-left: 0;
  margin-right: 0;
	margin-bottom: 10rem;
	position: relative;
	width: 250px;
	height: 450px;
	background: #fff;
	border-radius: 30px;
	transition: 0.5s;
	transform: none;
	box-shadow: -15px 15px 20px rgba(0,0,0,.2),
				inset 10px -10px 15px rgba(0,0,0,.1),
				inset -4px 4px 10px rgba(0,0,0,.04);
}
.box:hover
{
	transform: none;
	box-shadow: -60px 60px 10px rgba(0,0,0,.2),
				inset 10px -10px 15px rgba(0,0,0,.1),
				inset -4px 4px 10px rgba(0,0,0,.04);
}
.box2 {
  display: none;
  
	transform: rotate(-5deg) skew(5deg);
	position: relative;
	width: 550px;
	height: 350px;
	background: #fff;
	
}
} */




/* arrow on main page */

.arrow2 {
  opacity: 0;
  position: absolute;
  left: 90%;
  top: 40%;
  transform-origin: 50% 50%;
  transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
  -webkit-animation: arrow-movement 2s ease-in-out infinite;
          animation: arrow-movement 2s ease-in-out infinite;
}

.arrow-second {
  -webkit-animation: arrow-movement 2s 1s ease-in-out infinite;
          animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow2:before,
.arrow2:after {
  background: white;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
}

.arrow2:before {
  transform: rotate(45deg) translateX(-23%);
  transform-origin: top left;
}

.arrow2:after {
  transform: rotate(-45deg) translateX(23%);
  transform-origin: top right;
}

@-webkit-keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 45%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 45%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (min-width: 1101px){
	div.screen{
		display: none;
	}
}
@media (max-width: 1100px) {
  .topleft li span{
		display: none;
	}
}


